In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/home/paul/Documents/1DataScience/competition_AB_testing/ab_data.csv", nrows=10000)

General information about features:

In [3]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [21]:
# 1 unique values, 2 range of unique values, 3 missing values, 4 a few examples
name = "user_id"
name, df[name].nunique(), df[name].max(), df[name].min(), df[name].isna().sum(), df[name].values[:3], " ..."

summary = pd.DataFrame(index=df.columns, columns=["# unique", "range", "# missing", "examples"])
for name in df.columns:
    summary.loc[name, "# unique"] = df[name].nunique()
    summary.loc[name, "range"] = [df[name].max(), df[name].min()]
    summary.loc[name, "# missing"] = df[name].isna().sum()
    summary.loc[name, "examples"] = [df[name].values[:2]]
summary

,# unique,range,# missing,examples
user_id,9996,"[945940, 630025]",0,"[[851104, 804228]]"
timestamp,10000,"[2017-01-24 13:36:09.666706, 2017-01-02 13:42:...",0,"[[2017-01-21 22:11:48.556739, 2017-01-12 08:01..."
group,2,"[treatment, control]",0,"[[control, control]]"
landing_page,2,"[old_page, new_page]",0,"[[old_page, old_page]]"
converted,2,"[1, 0]",0,"[[0, 0]]"